#singleSpot-wrapper {
    width: 100%;
}

#singleSpot-main-div {
    width: 90%;
    max-width: 1100px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#singleSpot-title-div {
    display: flex;
    flex-direction: column;
}

.singleSpot-h2 {
    margin-bottom: 0px;
    font-size: 30px;
    font-weight: 500;
}

#singleSpot-middle-container {
    display: flex;
}

#singleSpot-middle-div {
    flex: 55%;
}

#singleSpot-middle-div2 {
    flex: 45%;
}

#singleSpot-middle-amenities {
    width: 100%;
    margin: auto;
    padding-bottom: 20px;
    border-bottom: 1px solid grey;
}

#singleSpot-amenities-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#singleSpot-anemities-title-img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-top: 30px;
}

#singleSpot-amenities-items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
    width: 100%;
    border-radius: 5px;
}

.singleSpot-amenities-item {
    flex: 25%;
    height: 100px;
    border-radius: 15px;
    text-align: center;
    border: 1px solid rgb(202, 202, 202);
}

.singleSpot-amenity-item-p {
    margin-top: 25%;
}

#singleSpot-middle-about-div {
    width: 100%;
    margin: auto;
    padding-bottom: 20px;
    border-bottom: 1px solid grey;
}
#singleSpot-middle-about-div > p + p {
    font-weight: 500;
}



#singleSpot-reviews-container {
    width: 100%;
}









/* Calendar */
.react-calendar {
    position: absolute;
    top: 50px;
    left: 0px;
    width: 250px;
    background: white;
    box-shadow: 0px 0px 4px 2px rgb(139, 139, 139);
    line-height: 1.125em;
    z-index: 1;
}

.react-calendar--hidden {
    display: none;
}
  
.react-calendar--doubleView {
    width: 700px;
}
  
.react-calendar--doubleView .react-calendar__viewContainer {
    display: flex;
    margin: -0.5em;
}
  
.react-calendar--doubleView .react-calendar__viewContainer > * {
    width: 50%;
    margin: 0.5em;
}
  
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
  
.react-calendar button {
    margin: 0;
    border: 0;
    outline: none;
}
  
.react-calendar button:enabled:hover {
    cursor: pointer;
}
  
.react-calendar__navigation {
    display: flex;
    height: 30px;
    margin-bottom: 0.7em;
}
  
.react-calendar__navigation button {
    min-width: 20px;
    background: none;
}
  
.react-calendar__navigation button:disabled {
    background-color: #f0f0f0;
}
  
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
    background-color: #c9c9c9;
}
  
.react-calendar__month-view__weekdays {
    text-align: center;
    font-weight: bold;
    font-size: 0.75em;
    border-bottom: 1px solid black;
    margin-top: -20px;
}
  
.react-calendar__month-view__weekdays__weekday {
    padding: 0.5em;
}
  
.react-calendar__month-view__weekNumbers .react-calendar__tile {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75em;
    font-weight: bold;
}
  
.react-calendar__month-view__days__day--weekend {
    color: black;
}

.react-calendar__month-view__days__day:disabled {
    color: red;
}
  
.react-calendar__month-view__days__day--neighboringMonth {
    color: #969696;
}
  
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
    padding: 1.0em 0.5em;
}
  
.react-calendar__tile {
    max-width: 100%;
    padding: 5px 5.5px;
    background: none;
    text-align: center;
    line-height: 16px;
}
  
.react-calendar__tile:disabled {
    background-color: #f0f0f0;
}
  
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
    background-color: #e6e6e6;
}
  
.react-calendar__tile--now {
    background: #ffffff;
}
  
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
    background: #ffffff;
}
  
.react-calendar__tile--hasActive {
    background: #76baff;
}
  
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
    background: #a9d4ff;
}
  
.react-calendar__tile--active {
    background: #0077ee;
    color: white;
}
  
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
    background: #1087ff;
}
  
.react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #e6e6e6;
}
