.signup-button {
    width: 120px;
    height: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: linear-gradient(#b3b3b3, #f5f5f5);
    border: 1px solid rgb(167, 167, 167);
    box-shadow: 1px 1px 2px 2px rgb(131, 131, 131);
    border-radius: 3px;
    cursor: pointer;
    font-weight: 700;
}

.signup-button:hover {
    background: linear-gradient(#c9c9c9, #ffffff);
    border: 1px solid rgb(212, 212, 212);
    box-shadow: 1px 1px 2px 2px rgb(131, 131, 131);
}

.signup-button:active {
    background: linear-gradient(#a7a7a7, #d3d3d3);
    border: 1px solid rgb(189, 189, 189);
    box-shadow: 1px 1px 2px 2px rgb(211, 211, 211);
}
