
#allSpots-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100vw;
    max-width: 1300px;
    align-items: center;
    background-color: rgb(241, 241, 241);
    gap: 10px;
    padding-top: 40px;
    padding-left: 80px;
    margin: auto;
}

.spot-div {
    flex-basis: 24%;
    height: 350px;
}

.spotLink {
    flex-basis: 24%;
    max-width: 300px;
    height: 350px;
    text-decoration: none;
    color: rgb(119, 119, 119);
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 1px 1px rgb(185, 185, 185);
    border-radius: 20px;
    transition: position 800ms;
}

.spotLink:hover {
    color: black;
    box-shadow: 0px 0px 4px 3px rgb(168, 168, 168);
    border-radius: 20px;
}

.allSpots-img {
    width: 300px;
    height: 280px;
    border-radius: 15px;
    object-fit: cover;
}

.allSpots-info-div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: -10px;
    width: 300px;
}

.allSpots-price-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -20px;
    width: 300px;
    font-weight: 500;
}

.allSpots-p {
    margin-left: 5px;
}

.allSpots-p-2 {
    margin-right: 5px;
}

.allSpots-update-button {
    font-size: 20px;
    margin-left: 140px;
    color: rgb(202, 202, 202);
    cursor: pointer;
}
.allSpots-update-button:hover {
    color: rgb(0, 219, 18);
}

.allSpots-delete-button {
    font-size: 20px;
    margin-right: 10px;
    color: rgb(202, 202, 202);
    cursor: pointer;
}
.allSpots-delete-button:hover {
    color: red;
}
