
#allSpots-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    max-width: 1500px;
    gap: 10px;
    padding-top: 40px;
    padding-left: 80px;
    margin: auto;
}

.spotLink {
    width: 100%;
    height: 380px;
    text-decoration: none;
    color: rgb(119, 119, 119);
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 1px 1px rgb(185, 185, 185);
    border-radius: 20px;
    transition: position 800ms;
}

.spotLink:hover {
    color: black;
    box-shadow: 0px 0px 4px 3px rgb(168, 168, 168);
    border-radius: 20px;
}

.allSpots-img {
    width: 100%;
    height: 280px;
    border-radius: 15px;
    object-fit: cover;
}

.allSpots-info-div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: -10px;
    width: 100%;
}

.allSpots-price-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: -20px;
    font-weight: 500;
}

.allSpots-p {
    margin-left: 5px;
}

.allSpots-p-2 {
    margin-right: 5px;
}

.allSpots-update-button {
    font-size: 20px;
    margin-left: 140px;
    color: rgb(202, 202, 202);
    cursor: pointer;
}
.allSpots-update-button:hover {
    color: rgb(0, 219, 18);
}

.allSpots-delete-button {
    font-size: 20px;
    margin-right: 10px;
    color: rgb(202, 202, 202);
    cursor: pointer;
}
.allSpots-delete-button:hover {
    color: red;
}

.userSpots-update-buttons-div {
    display: flex;
    gap: 10px;
}

@media (max-width: 799px) {
    #allSpots-wrapper {
        flex-direction: column;
        padding-left: 0px;
    }
    
    .spotLink {
        margin: auto;
        width: 90%;
    }
}

@media (min-width: 800px) {
    .spotLink {
        width: 43%;
    }
}

@media (min-width: 1200px) {
    .spotLink {
        width: 30%
    }
}

@media (min-width: 1600px) {
    .spotLink {
        width: 23%
    }
}
