
#allSpots-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    max-width: 1500px;
    gap: 10px;
    padding-top: 40px;
    padding-left: 80px;
    margin: auto;
}

.allSpots-update-button {
    font-size: 20px;
    margin-left: 140px;
    color: rgb(202, 202, 202);
    cursor: pointer;
}
.allSpots-update-button:hover {
    color: rgb(0, 219, 18);
}

.allSpots-delete-button {
    font-size: 20px;
    margin-right: 10px;
    color: rgb(202, 202, 202);
    cursor: pointer;
}
.allSpots-delete-button:hover {
    color: red;
}

.userSpots-update-buttons-div {
    display: flex;
    gap: 10px;
}

@media (max-width: 799px) {
    #allSpots-wrapper {
        flex-direction: column;
        padding-left: 0px;
    }
}