/* TODO Add site wide styles */
* {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

body {
    background-color: rgb(253, 253, 253);
    padding: 0px;
    margin: 0px;
}

/* Button */
.main-button-style {
    background: linear-gradient(rgb(0, 240, 0), rgb(0, 175, 15));
    box-shadow: 0px 1px 4px 3px rgb(204, 204, 204);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.main-button-style:hover {
    background: linear-gradient(rgb(0, 255, 0), rgb(0, 184, 15));
    box-shadow: 0px 1px 4px 3px rgb(180, 180, 180);
}

.main-button-style:active {
    background: linear-gradient(rgb(0, 223, 0), rgb(0, 155, 13));
    box-shadow: 0px 1px 4px 3px rgb(223, 223, 223);
}

.main-button-style:disabled {
    background: linear-gradient(rgb(0, 211, 0), rgb(0, 126, 10));
    box-shadow: 0px 1px 4px 3px rgb(223, 223, 223);
    cursor: not-allowed;
}

.main-button-empty {
    background: none;
    border: none;
}


/* Input */
.main-input-style {
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 4px 2px rgb(77, 77, 77);
    border: 2px solid rgb(87, 87, 87);
    background-color: rgb(230, 230, 230);
    outline: none;
}


/* Errors */
.main-error-li {
    font-size: 14px;
    color: red;
}

.main-error-ul {
    margin-top: -15px;
}
